<a href="https://colab.research.google.com/github/nouretienne/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/U1S1M1%262_PRACTICE_QCM_SENSOR_ALCOHOL_DATASET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**QCM Sensor Alcohol Dataset**

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00496/QCM%20Sensor%20Alcohol%20Dataset.zip

--2021-08-23 05:27:53--  https://archive.ics.uci.edu/ml/machine-learning-databases/00496/QCM%20Sensor%20Alcohol%20Dataset.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5704 (5.6K) [application/x-httpd-php]
Saving to: ‘QCM Sensor Alcohol Dataset.zip’

QCM Sensor Alcohol  100%[===================>]   5.57K  --.-KB/s    in 0s

2021-08-23 05:27:53 (72.9 MB/s) - ‘QCM Sensor Alcohol Dataset.zip’ saved [5704/5704]

In [2]:
!unzip 'QCM Sensor Alcohol Dataset.zip'

Archive:  QCM Sensor Alcohol Dataset.zip
   creating: QCM Sensor Alcohol Dataset/
  inflating: QCM Sensor Alcohol Dataset/QCM10.csv
  inflating: QCM Sensor Alcohol Dataset/QCM12.csv
  inflating: QCM Sensor Alcohol Dataset/QCM3.csv
  inflating: QCM Sensor Alcohol Dataset/QCM6.csv
  inflating: QCM Sensor Alcohol Dataset/QCM7.csv

In [6]:
import pandas as pd

address = 'QCM Sensor Alcohol Dataset/QCM10.csv'
df10 = pd.read_csv(address, sep=';', header=0)
print(df10.shape)
df10.head()

(25, 15)

   0.799_0.201  0.799_0.201.1  0.700_0.300  ...  2-Butanol  2-propanol  1-isobutanol
0       -11.98         -10.99       -19.12  ...          0           0             0
1       -12.15         -11.33       -22.33  ...          0           0             0
2       -12.58         -11.74       -26.67  ...          0           0             0
3       -13.79         -12.82       -30.56  ...          0           0             0
4       -15.73         -13.87       -34.54  ...          0           0             0

[5 rows x 15 columns]

In [7]:
address = 'QCM Sensor Alcohol Dataset/QCM12.csv'
df12 = pd.read_csv(address, sep=';', header=0)
print(df12.shape)
df12.head()

(25, 15)

   0.799_0.201  0.799_0.201.1  0.700_0.300  ...  2-Butanol  2-propanol  1-isobutanol
0        -9.40          -7.95       -21.44  ...          0           0             0
1       -13.18         -12.01       -26.46  ...          0           0             0
2       -18.61         -16.29       -32.84  ...          0           0             0
3       -21.88         -19.81       -38.18  ...          0           0             0
4       -24.84         -22.36       -42.61  ...          0           0             0

[5 rows x 15 columns]

In [8]:
df12.describe()

       0.799_0.201  0.799_0.201.1  ...  2-propanol  1-isobutanol
count    25.000000      25.000000  ...   25.000000     25.000000
mean    -54.764000     -52.058400  ...    0.200000      0.200000
std      21.168811      19.266973  ...    0.408248      0.408248
min     -86.340000     -71.040000  ...    0.000000      0.000000
25%     -66.370000     -61.760000  ...    0.000000      0.000000
50%     -59.000000     -58.370000  ...    0.000000      0.000000
75%     -52.710000     -56.170000  ...    0.000000      0.000000
max      -9.400000      -7.950000  ...    1.000000      1.000000

[8 rows x 15 columns]